In [1]:
import pandas as pd

In [2]:
excel_file_path1 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Season_data/2023_non_trackman.xlsx'
excel_file_path2 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/程式碼/WOBA/RE.xlsx'
sheet_name = 'Sheet1'

In [3]:
non_track = pd.read_excel(excel_file_path1, sheet_name=sheet_name)
RE = pd.read_excel(excel_file_path2, sheet_name=sheet_name)

In [4]:
RE

    壘包狀態  outs     RE
0      0     0  0.535
1      0     1  0.282
2      0     2  0.108
3      1     0  0.926
4      1     1  0.564
5      1     2  0.228
6      2     0  1.194
7      2     1  0.733
8      2     2  0.355
9      3     0  1.474
10     3     1  0.999
11     3     2  0.385
12     4     0  1.606
13     4     1  1.015
14     4     2  0.499
15     5     0  1.943
16     5     1  1.208
17     5     2  0.570
18     6     0  2.179
19     6     1  1.432
20     6     2  0.587
21     7     0  2.589
22     7     1  1.626
23     7     2  0.816

In [5]:
col=['gameId','side','awayScores','homeScores','inning','paRound','paOrder','firstId','secondId','thirdId','result','outs','runsOnPlay','bName','pName']

In [6]:
non_track= non_track[col]

In [7]:
non_track

,gameId,side,awayScores,homeScores,inning,paRound,paOrder,firstId,secondId,thirdId,result,outs,runsOnPlay,bName,pName
0,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）
1,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）
2,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）
3,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）
4,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86383,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1,0,張志豪,陳禹勳
86384,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1,0,張志豪,陳禹勳
86385,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1,0,張志豪,陳禹勳
86386,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1,0,張志豪,陳禹勳
86387,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,uBB,1,1,張志豪,陳禹勳

In [8]:
def calculate_base_state(row):
    state = 0
    if pd.notna(row['firstId']):
        state += 1
    if pd.notna(row['secondId']):
        state += 2
    if pd.notna(row['thirdId']):
        state += 4
    return state

# 应用函数创建新的 "壘包狀態" 列
non_track['壘包狀態'] = non_track.apply(calculate_base_state, axis=1)

In [9]:
non_track

,gameId,side,awayScores,homeScores,inning,paRound,paOrder,firstId,secondId,thirdId,result,outs,runsOnPlay,bName,pName,壘包狀態
0,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）,0
1,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）,0
2,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）,0
3,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）,0
4,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86383,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1,0,張志豪,陳禹勳,7
86384,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1,0,張志豪,陳禹勳,7
86385,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1,0,張志豪,陳禹勳,7
86386,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1,0,張志豪,陳禹勳,7
86387,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,uBB,1,1,張志豪,陳禹勳,7

In [10]:
def get_expected_runs(row):
    base_type = row["壘包狀態"]
    outs = row["outs"]
    #balls = row["balls"]
    #strikes = row["strikes"]
    
    matching_row = RE[(RE["壘包狀態"] == base_type) & 
                          (RE["outs"] == outs)] 
                          #(RE["Balls"] == balls) & 
                          #(RE["Strikes"] == strikes)]
    
    if not matching_row.empty:
        return matching_row.iloc[0]["RE"]
    else:
        return None

non_track["RE"] = non_track.apply(get_expected_runs, axis=1)

# 打印结果
non_track

,gameId,side,awayScores,homeScores,inning,paRound,paOrder,firstId,secondId,thirdId,result,outs,runsOnPlay,bName,pName,壘包狀態,RE
0,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）,0,0.535
1,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）,0,0.535
2,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）,0,0.535
3,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）,0,0.535
4,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,NaN,0,0,陳晨威,德保拉（Jose De Paula）,0,0.535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86383,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1,0,張志豪,陳禹勳,7,1.626
86384,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1,0,張志豪,陳禹勳,7,1.626
86385,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1,0,張志豪,陳禹勳,7,1.626
86386,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1,0,張志豪,陳禹勳,7,1.626
86387,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,uBB,1,1,張志豪,陳禹勳,7,1.626

In [31]:
non_track['打者編號'] = non_track.groupby(['gameId', 'side', 'inning']).cumcount() + 1
non_track['打者編號'] = non_track.groupby(['gameId', 'side', 'inning']).cumcount() + 1

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7136\2344955812.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_track['打者編號'] = non_track.groupby(['gameId', 'side', 'inning']).cumcount() + 1

In [32]:
non_track = non_track.dropna(subset=['result'])

In [33]:
non_track['RE_change'] = non_track.groupby(['gameId','inning','side'])['RE'].diff().shift(-1)

last_bat_indexes = non_track.groupby(['gameId', 'inning', 'side'])['打者編號'].idxmax()

non_track.loc[last_bat_indexes, 'RE_change'] = -non_track['RE']

In [34]:
last_bat_indexes

gameId                    inning  side
6604f442f33e23972e9b416e  1       AWAY    64694
                                  HOME    64707
                          2       AWAY    64724
                                  HOME    64747
                          3       AWAY    64754
                                          ...
6606eee9df5ba4d17362f67d  7       AWAY    40242
                                  HOME    40254
                          8       AWAY    40272
                                  HOME    40283
                          9       AWAY    40298
Name: 打者編號, Length: 5264, dtype: int64

In [35]:
non_track

,gameId,side,awayScores,homeScores,inning,paRound,paOrder,firstId,secondId,thirdId,result,outs,runsOnPlay,bName,pName,壘包狀態,RE,打者編號,RE_change,RE24
5,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,uBB,0,0,陳晨威,德保拉（Jose De Paula）,0,0.535,1,0.391,0.391
6,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,2,65630f235559b6d7a6d5d235,NaN,NaN,SH,0,0,成晉,德保拉（Jose De Paula）,1,0.926,2,-0.193,-0.193
8,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,3,NaN,65630f235559b6d7a6d5d235,NaN,GO,1,0,林立,德保拉（Jose De Paula）,2,0.733,3,-0.234,-0.234
9,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,4,NaN,NaN,65630f235559b6d7a6d5d235,GO,2,0,林泓育,德保拉（Jose De Paula）,4,0.499,4,-0.499,-0.499
14,66068a31fa082fd3ad0d6ed7,HOME,0,0,1,1,1,NaN,NaN,NaN,SO,0,0,岳政華,威達爾,0,0.535,1,-0.253,-0.253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86377,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,1,NaN,NaN,NaN,1B,0,0,王威晨,陳禹勳,0,0.535,1,0.391,0.391
86379,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,2,65630f225559b6d7a6d5d210,NaN,NaN,SH,0,0,岳政華,陳禹勳,1,0.926,2,-0.193,-0.193
86380,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,3,NaN,65630f225559b6d7a6d5d210,NaN,IBB,1,0,詹子賢,陳禹勳,2,0.733,3,0.266,0.266
86382,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,4,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1B,1,0,福來喜,陳禹勳,3,0.999,4,0.627,0.627
86387,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,uBB,1,1,張志豪,陳禹勳,7,1.626,5,-1.626,-0.626

In [36]:
non_track['RE24']=non_track['RE_change']+non_track['runsOnPlay']

In [67]:
non_track

,gameId,side,awayScores,homeScores,inning,paRound,paOrder,firstId,secondId,thirdId,result,outs,runsOnPlay,bName,pName,壘包狀態,RE,打者編號,RE_change,RE24
5,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,1,NaN,NaN,NaN,uBB,0,0,陳晨威,德保拉（Jose De Paula）,0,0.535,1,0.391,0.391
6,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,2,65630f235559b6d7a6d5d235,NaN,NaN,SH,0,0,成晉,德保拉（Jose De Paula）,1,0.926,2,-0.193,-0.193
8,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,3,NaN,65630f235559b6d7a6d5d235,NaN,GO,1,0,林立,德保拉（Jose De Paula）,2,0.733,3,-0.234,-0.234
9,66068a31fa082fd3ad0d6ed7,AWAY,0,0,1,1,4,NaN,NaN,65630f235559b6d7a6d5d235,GO,2,0,林泓育,德保拉（Jose De Paula）,4,0.499,4,-0.499,-0.499
14,66068a31fa082fd3ad0d6ed7,HOME,0,0,1,1,1,NaN,NaN,NaN,SO,0,0,岳政華,威達爾,0,0.535,1,-0.253,-0.253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86377,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,1,NaN,NaN,NaN,1B,0,0,王威晨,陳禹勳,0,0.535,1,0.391,0.391
86379,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,2,65630f225559b6d7a6d5d210,NaN,NaN,SH,0,0,岳政華,陳禹勳,1,0.926,2,-0.193,-0.193
86380,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,3,NaN,65630f225559b6d7a6d5d210,NaN,IBB,1,0,詹子賢,陳禹勳,2,0.733,3,0.266,0.266
86382,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,4,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,NaN,1B,1,0,福來喜,陳禹勳,3,0.999,4,0.627,0.627
86387,6604f5c5f33e23972e9bac93,HOME,9,9,11,6,5,659baacb85d2883d77c0a39d,65630f225559b6d7a6d5d212,65630f225559b6d7a6d5d210,uBB,1,1,張志豪,陳禹勳,7,1.626,5,-1.626,-0.626

## 計算各打擊結果 RE24

In [66]:
summary = non_track.groupby("result").agg({"RE24": "mean"})

# 重新命名列名
#hitter_summary.rename(columns={"li值": "平均LI值", "WPA": "總WPA","打序": "PA"}, inplace=True)

# 輸出結果
summary

            RE24
result
1B      0.473664
2B      0.818829
3B      1.149909
E       0.408149
FC     -0.278957
FO     -0.290069
GIDP   -0.870409
GO     -0.238912
HBP     0.354608
HR      1.455605
IBB     0.133237
ID     -0.761800
SF     -0.102194
SH     -0.062413
SO     -0.296087
TP     -1.474000
uBB     0.334841

In [39]:
#summary3.to_excel('各棒次結果RE24.xlsx', index=True)

In [40]:
result_items = non_track['result'].unique()
result_items

array(['uBB', 'SH', 'GO', 'SO', '1B', 'FO', 'FC', 'E', 'GIDP', 'HR',
       'HBP', 'SF', '2B', 'IBB', 'ID', '3B', 'TP'], dtype=object)

## 計算所有出局數RE24並歸0 並加至'1B','2B','3B','HR','BB','HBP' 
## 算出woba權重

In [41]:
specific_results = ['SF', 'SO', 'FO','GO','SH','GIDP','ID','TP']

filtered_df = non_track[non_track['result'].isin(specific_results)]

re24_avg = filtered_df['RE24'].mean()
re24_avg

-0.2889989565943239

In [42]:
summary['RE24']=summary['RE24']-re24_avg
summary

            RE24
result
1B      0.762663
2B      1.107828
3B      1.438908
E       0.697148
FC      0.010042
FO     -0.001070
GIDP   -0.581410
GO      0.050087
HBP     0.643607
HR      1.744604
IBB     0.422236
ID     -0.472801
SF      0.186805
SH      0.226586
SO     -0.007088
TP     -1.185001
uBB     0.623840

In [64]:
#summary.to_excel('woba權重.xlsx', index=True)

## 計算聯盟WOBA

In [43]:
result_pivot = non_track.groupby('bName')['result'].value_counts().unstack(fill_value=0)
#result_pivot = result_counts.pivot_table(index=['bName','result'], columns='result', values='count', fill_value=0).reset_index()
result_pivot

result  1B  2B  3B  E  FC  FO  GIDP  GO  HBP  HR  IBB  ID  SF  SH  SO  TP  uBB
bName
于森旭      5   1   0  0   0  14     2   6    0   0    0   0   0   0   9   0    0
何恆佑      6   2   0  0   3  11     1   9    0   0    0   0   0   1  12   0    1
余德龍      8   1   0  0   2   7     1  16    0   1    0   0   2   1  12   0    1
全浩瑋      1   0   0  0   0   1     0   2    0   0    0   0   0   0   1   0    0
冉承霖      8   0   0  0   1   3     0   7    0   0    0   0   0   0  14   0    3
...     ..  ..  .. ..  ..  ..   ...  ..  ...  ..  ...  ..  ..  ..  ..  ..  ...
高宇杰     34   4   0  4   7  64     4  38    0   1    0   0   0   5  52   0   13
黃勇傳     22   3   0  1   8  26     2  26    2   0    0   0   1   0  19   0   11
黃鈞聲      3   0   0  0   0   2     0   1    0   0    0   0   0   0   4   0    0
黃鈞麟      0   0   0  0   0   0     0   0    1   0    0   0   0   0   0   0    0
黃韋盛     16   2   0  0   4   9     3  20    0   0    0   0   1   1  23   0    6

[149 rows x 17 columns]

In [44]:
result_pivot['AB']=result_pivot['1B']+result_pivot['2B']+result_pivot['3B']+result_pivot['HR']+result_pivot['E']+result_pivot['FC']+result_pivot['FO']+result_pivot['GIDP']+result_pivot['GO']+result_pivot['SO']
result_pivot['PA']=result_pivot['AB']+result_pivot['HBP']+result_pivot['IBB']+result_pivot['SH']+result_pivot['SF']+result_pivot['uBB']
result_pivot['AVG']=(result_pivot['1B']+result_pivot['2B']+result_pivot['3B']+result_pivot['HR'])/result_pivot['AB']
result_pivot['OBP']=(result_pivot['1B']+result_pivot['2B']+result_pivot['3B']+result_pivot['HR']+result_pivot['HBP']+result_pivot['IBB']+result_pivot['uBB'])/result_pivot['PA']
result_pivot['SLG']=(result_pivot['1B']+result_pivot['2B']*2+result_pivot['3B']*3+result_pivot['HR']*4)/result_pivot['AB']
result_pivot['OPS']=result_pivot['SLG']+result_pivot['OBP']
result_pivot['ISO']=result_pivot['SLG']-result_pivot['AVG']
result_pivot

result,1B,2B,3B,E,FC,FO,GIDP,GO,HBP,HR,...,SO,TP,uBB,AB,PA,AVG,OBP,SLG,OPS,ISO
bName,,,,,,,,,,,,,,,,,,,,,
于森旭,5,1,0,0,0,14,2,6,0,0,...,9,0,0,37,37,0.162162,0.162162,0.189189,0.351351,0.027027
何恆佑,6,2,0,0,3,11,1,9,0,0,...,12,0,1,44,46,0.181818,0.195652,0.227273,0.422925,0.045455
余德龍,8,1,0,0,2,7,1,16,0,1,...,12,0,1,48,52,0.208333,0.211538,0.291667,0.503205,0.083333
全浩瑋,1,0,0,0,0,1,0,2,0,0,...,1,0,0,5,5,0.200000,0.200000,0.200000,0.400000,0.000000
冉承霖,8,0,0,0,1,3,0,7,0,0,...,14,0,3,33,36,0.242424,0.305556,0.242424,0.547980,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
高宇杰,34,4,0,4,7,64,4,38,0,1,...,52,0,13,208,226,0.187500,0.230088,0.221154,0.451242,0.033654
黃勇傳,22,3,0,1,8,26,2,26,2,0,...,19,0,11,107,121,0.233645,0.314050,0.261682,0.575732,0.028037
黃鈞聲,3,0,0,0,0,2,0,1,0,0,...,4,0,0,10,10,0.300000,0.300000,0.300000,0.600000,0.000000
黃鈞麟,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,NaN,1.000000,NaN,NaN,NaN
黃韋盛,16,2,0,0,4,9,3,20,0,0,...,23,0,6,77,85,0.233766,0.282353,0.259740,0.542093,0.025974

In [57]:
league_woba = (
    summary['RE24']['1B'] * result_pivot['1B'].sum() +
    summary['RE24']['2B'] * result_pivot['2B'].sum() +
    summary['RE24']['3B'] * result_pivot['3B'].sum() +
    summary['RE24']['HR'] * result_pivot['HR'].sum() +
    summary['RE24']['uBB'] * result_pivot['uBB'].sum() +
    summary['RE24']['HBP'] * result_pivot['HBP'].sum()
) / (
    result_pivot['AB'].sum() + 
    result_pivot['uBB'].sum() - 
    result_pivot['IBB'].sum() + 
    result_pivot['SF'].sum() + 
    result_pivot['HBP'].sum()
)

In [58]:
league_woba

0.2681977103962944

In [59]:
league_obp = (result_pivot['1B'].sum()+result_pivot['2B'].sum()+result_pivot['3B'].sum()+result_pivot['HR'].sum()+result_pivot['HBP'].sum()+result_pivot['IBB'].sum()+result_pivot['uBB'].sum())/result_pivot['PA'].sum()
woba_scale = league_obp/league_woba
print(f'聯盟上壘率: {league_obp}')
print(f'Woba_scale: {woba_scale}')

聯盟上壘率: 0.32488540197461213
Woba_scale: 1.2113653076849717

In [62]:
result_pivot['woba']= ((
    woba_scale * summary['RE24']['1B'] * result_pivot['1B'] +
    woba_scale * summary['RE24']['2B'] * result_pivot['2B'] +
    woba_scale * summary['RE24']['3B'] * result_pivot['3B'] +
    woba_scale * summary['RE24']['HR'] * result_pivot['HR'] +
    woba_scale * summary['RE24']['uBB'] * result_pivot['uBB'] +
    woba_scale * summary['RE24']['HBP'] * result_pivot['HBP']
) / (
    result_pivot['AB'] + 
    result_pivot['uBB'] - 
    result_pivot['IBB'] + 
    result_pivot['SF']+ 
    result_pivot['HBP']
))

In [63]:
result_pivot

result,1B,2B,3B,E,FC,FO,GIDP,GO,HBP,HR,...,TP,uBB,AB,PA,AVG,OBP,SLG,OPS,ISO,woba
bName,,,,,,,,,,,,,,,,,,,,,
于森旭,5,1,0,0,0,14,2,6,0,0,...,0,0,37,37,0.162162,0.162162,0.189189,0.351351,0.027027,0.161116
何恆佑,6,2,0,0,3,11,1,9,0,0,...,0,1,44,46,0.181818,0.195652,0.227273,0.422925,0.045455,0.199619
余德龍,8,1,0,0,2,7,1,16,0,1,...,0,1,48,52,0.208333,0.211538,0.291667,0.503205,0.083333,0.227489
全浩瑋,1,0,0,0,0,1,0,2,0,0,...,0,0,5,5,0.200000,0.200000,0.200000,0.400000,0.000000,0.184773
冉承霖,8,0,0,0,1,3,0,7,0,0,...,0,3,33,36,0.242424,0.305556,0.242424,0.547980,0.000000,0.268278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
高宇杰,34,4,0,4,7,64,4,38,0,1,...,0,13,208,226,0.187500,0.230088,0.221154,0.451242,0.033654,0.220438
黃勇傳,22,3,0,1,8,26,2,26,2,0,...,0,11,107,121,0.233645,0.314050,0.261682,0.575732,0.028037,0.282834
黃鈞聲,3,0,0,0,0,2,0,1,0,0,...,0,0,10,10,0.300000,0.300000,0.300000,0.600000,0.000000,0.277159
黃鈞麟,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,NaN,1.000000,NaN,NaN,NaN,0.779643
黃韋盛,16,2,0,0,4,9,3,20,0,0,...,0,6,77,85,0.233766,0.282353,0.259740,0.542093,0.025974,0.261904